.navbar
{
    background-color: rgba(0, 0, 0, 0.678);    
    color: white;
    display: flex;
    padding: 15px;
    border: none;
    align-items: center;
    position: fixed;
    width: 90%;
    border-radius: 10px;

}

.img
{
    background-color: rgba(0, 0, 0, 0.404);
}

.players
{
    width: 100%;
    margin-top: -120px;
}

.top
{
    padding: 40px 5%;

}

.left
{
    display: flex;
    align-items: center;

}

.middle
{
    display: flex;
    gap: 25px;
    margin: auto;

}

p
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    padding-bottom: 5px;
    font-size: 16px;
    margin-top: 10px;

}

h2
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;

}

.tap
{
    border-bottom: 2px solid white;
    width: fit-content;
    
}