.top
{
    padding: 40px 5%;

}

.navbar
{
    background-color: rgba(0, 0, 0, 0.897);   
    color: white;
    display: flex;
    padding: 15px;
    border: none;
    align-items: center;
    position: fixed;
    width: 90%;
    border-radius: 10px;

}

@media only screen and (min-width: 320px) and (max-width: 425px)
{
    .paragraph
    {
        display: none;

    }

    .icon-1
    {
        color: white;
    }

    .drop-1
    {
        display: none;

    }

    .one
    {
        display: flex;
        flex-direction: column;

    }


}

@media only screen and (min-width: 425px) and (max-width: 768px)
{
    .one
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-items: center;
        justify-content: center;

    }

}

@media only screen and (min-width: 1024px) and (max-width: 1440px)
{
    .one{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

    }
}

.drop-1
{
    display: block;

}

.icon
{
    margin-left: -40px;
    color: white;

}

.left
{
    display: flex;
    align-items: center;

}

.middle
{
    display: flex;
    gap: 25px;
    margin: auto;

}

p
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    padding-bottom: 5px;
    font-size: 16px;
    margin-top: 10px;

}

h2
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;

}

.tap
{
    border-bottom: 2px solid white;
    width: fit-content;
    
}

.dropdown
{
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: -75px;
    margin-top: 5px;
    position: absolute;
    padding: 10px;
    cursor: pointer;

}

.dropdown p{
    font-weight: bold;

}

.stadium
{
    width: 100%;
    margin-top: -120px;
    height: 590px;
}

.navbar .left
{
    display: flex;
    align-items: center;

}

.navbar .middle
{
    display: flex;
    gap: 25px;
    margin: auto;

}

.news
{
    background-color: black;
    padding: 15px 5%;
    color: white;

}

.one
{
    padding: 5px 5%;
    display: flex;
    gap: 40px;
    margin-top: 20px;

}

.one .left2
{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.one .left2 h3
{
    padding: 20px 20px;
    font-size: 20px;
    box-shadow: 0.5px 0.5px 5px black;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 585px;
    font-weight: bold;
    margin-top: -5px;
    border: none;
    border-radius: 0  0 10px 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.one .champions
{
    width: 585px;
    height: 300px;
    border: none;
    position: initial;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 5px black;

}

.moveTop p
{
    padding: 7px 5px;
    margin-top: -200px;
    position: fixed;
    font-size: 23px;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    margin-left: 65px;

}

.moveTop p:hover + .pc
{
    display: block;

}

.pc
{
    display: none;

}

.pc p
{
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid black;
    margin-left: 130px;
    font-size: 12px;
    padding: 3px;

}

